:root {
  --responsivew: 100%;
  --laptoph: 600px;
  --bgcolor: transparent;
  --framecolor: rgb(2, 2, 2);
  --glow: linear-gradient(white, rgba(24, 9, 24, 0.3));
  --bgcolornote: grey;
  --notecolor: white;
  --generalfontcolor: rgb(98, 64, 160);
  --bgcolorframe: white;
  /* --repititionresponsive: 2fr 1fr 1fr 1fr 1fr; */
}
body {
  background-color: var(--bgcolor);
  display: grid;
  left: auto;
  top: auto;
  align-items: center;
  background-image: url("../images/texture.jfif");
}
header h1,
#projects h1,
#contact h1 {
  margin-top: 5vh;
  margin-bottom: 2vh;
  color: var(--generalfontcolor);
  position: relative;
  text-align: center;
  font-size: 250%;
}
header p {
  color: var(--framecolor);
  position: relative;
  text-align: center;
  margin: 3vh;
}

/*****************************************************************/

/* Styling the navigation bar */

#navbar {
  z-index: 1;
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  position: sticky;
  left: 0;
  top: 0;
  background-color: var(--bgcolor);
  border-style: ridge;
  border: 3px ridge var(--framecolor);
  border-radius: 5px;
}

/* Styling the navigation links */

.nav-link {
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: brown;
  color: cornsilk;
  font-size: 100%;
  margin-right: 0px;
  margin-left: 0px;
  font-size: large;
}
.nav-link:hover {
  background-color: var(--bgcolor);
  opacity: 0.9;
  border: 3px solid var(--framecolor);
  color: black;
}

/*****************************************************************/

/* Arranging the main-section */

.main-section {
  height: fit-content;
  width: 79vw;
  background-color: var(--bgcolor);
  left: 20vw;
  top: -100vh;
  position: relative;
  padding-top: 1vh;
  padding-left: 1vw;
  border: 3px ridge black;
}

/*****************************************************************/
/*welcome-section styling*/
.about-me,
li,
.contact-me {
  font-size: 150%;
  margin-left: 2vw;
}
ul {
  list-style-type: disc;
}

.profile-photo {
  width: 35%;
  align-self: center;
}

/*****************************************************************/

#projects {
  display: grid;
  /* grid-template-columns: var(--repititionresponsive); */
  grid-template-areas:
    "h1 h1"
    "content1 content1"
    /* "content1 content1" */
    "content2 content3"
    "content4 content5";
}
#projects h1 {
  grid-area: h1;
}

/* Styling the project tiles and the header of the project tile*/
.project-tile {
  border-style: dotted;
  border-color: var(--framecolor);
  color: var(--generalfontcolor);
  position: relative;
  width: var(--responsivew);
  height: fit-content;
  margin-bottom: 5vh;
  margin-top: 3vh;
  padding-top: 4vh;
}
.project-tile h2 {
  border-style: solid;
  border-radius: 5px;
  border-color: var(--framecolor);
  position: absolute;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  left: 5%;
  top: -25px;
  width: 90%;
  height: 50px;
  background-color: var(--bgcolorframe);
  font-size: 200%;
}

/*assigning a bigger size to the first project*/
.first-project {
  grid-area: content1;
}

/*Styling the images of the portfolio*/
.portfolio-image {
  width: 90%;
  border-radius: 1vw;
  background-image: var(--glow);
}

/*styling the project note*/

.project-note {
  border-style: solid;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: var(--bgcolornote);
  color: var(--notecolor);
  position: absolute;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  left: -1%;
  top: 50%;
  width: 25%;
  height: 5vh;
  background-color: var(--bgcolornote);
  font-size: 100%;
}

/*****************************************************************/
/* Contact me section*/

/* Profile link image */
.profile-link-image {
  width: 3vw;
  height: 3vw;
}

/*****************************************************************/
/* Responsive styling */

/* for smaller tablets (iPad)*/
@media screen and (max-width: 768px) {
  #projects {
    grid-template-areas:
      "h1 h1"
      "content1 content2"
      "content3 content4"
      "content5 content6";
  }
  .nav-link {
    font-size: 75%;
  }
  .contact-me,
  .about-me,
  li,
  .project-tile h2 {
    font-size: 100%;
  }
  .project-note {
    font-size: 60%;
  }
  ul {
    margin-left: 3vw;
  }
  h1 {
    font-size: 200%;
  }
}

/*for phones*/

@media screen and (max-width: 600px) {
  #projects {
    grid-template-areas:
      "h1"
      "content1"
      "content2"
      "content3"
      "content4"
      "content5";
  }
  .nav-link {
    font-size: 75%;
  }
  .contact-me,
  .about-me,
  li,
  .project-tile h2 {
    font-size: 100%;
  }
  .project-note {
    font-size: 60%;
  }
  ul {
    margin-left: 3vw;
  }
  h1 {
    font-size: 150%;
  }
}

/*End Styling*/
/*****************************************************************/
